<header>
  <div class='nav'>
    <%= link_to image_tag("logo_transparent.png", class:"pfc-icon"), root_path %>
  </div>
  <div class="cp_cont">
    <div class="cp_offcm01">
    <input type="checkbox" id="cp_toggle01">
		<label for="cp_toggle01"><span></span></label>
      <ul class="cp_menu">
        <li><%= link_to image_tag("logo_transparent.png", class:"pfc-icon2"), root_path %></li>
        <li><%= link_to 'PFC計算', new_total_path, class: "menu__link" %></li>
        <li><a href="" class="menu__link">食材追加依頼</a></li>
        <% if user_signed_in? %>
            <li><%= link_to current_user.n_name, "#", class: "menu__link" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "menu__link" %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path, class: "menu__link" %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: "menu__link" %></li>
          <% end %>
      </ul>
  </div>
</header>
